<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit joke</title>
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
    <header>
        <div class="logout-button">
            <a href="/"><button>Log out</button></a>
        </div>
        <div class="jokes-link">
            <a href="https://demissenov-danial-se-2206.onrender.com/main?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6IkRhbmlhbCIsImlzQWRtaW4iOnRydWUsImlhdCI6MTcwOTA4MTg5NSwiZXhwIjoxNzA5MDg1NDk1fQ.EAqxKGjeEAxc7jpnjxeaJkJjcM34DaY4iEmNPR9XNLQ">Jokes</a>
        </div>
        <div class="chuck-jokes-link">
            <a href="https://demissenov-danial-se-2206.onrender.com/chuckJokes?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6IkRhbmlhbCIsImlzQWRtaW4iOnRydWUsImlhdCI6MTcwOTA4MTg5NSwiZXhwIjoxNzA5MDg1NDk1fQ.EAqxKGjeEAxc7jpnjxeaJkJjcM34DaY4iEmNPR9XNLQ">Jokes about Chuck Norris</a>
        </div>
        <div class="interesting-numbers-link">
            <a href="https://demissenov-danial-se-2206.onrender.com/Numbers?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6IkRhbmlhbCIsImlzQWRtaW4iOnRydWUsImlhdCI6MTcwOTA4MTg5NSwiZXhwIjoxNzA5MDg1NDk1fQ.EAqxKGjeEAxc7jpnjxeaJkJjcM34DaY4iEmNPR9XNLQ">Interesting numbers</a>
        </div>
        <div class="language">
            <select id="language-select">
                <option value="en">English</option>
                <option value="ru">Русский</option>
            </select>
        </div>
    </header>
    <h1>Edit joke</h1>
    <main>
        <form action="/admin/edit-joke/<%= joke._id %>" method="POST">
            <label for="nameEn">New English name:</label>
            <input type="text" id="nameEn" name="name.en" placeholder="New English name" value="<%= joke.name.en %>">
            <label for="nameRu">New Russian name:</label>
            <input type="text" id="nameRu" name="name.ru" placeholder="New Russian name" value="<%= joke.name.ru %>">
            <label for="descriptionEn">New English description:</label>
            <input type="text" id="descriptionEn" name="description.en" placeholder="New English description" value="<%= joke.description.en %>">
            <label for="descriptionRu">New Russian description:</label>
            <input type="text" id="descriptionRu" name="description.ru" placeholder="New Russian description" value="<%= joke.description.ru %>">
            <button class="button" type="submit">Update Joke</button>
        </form>
    </main>
    <script src="/scripts/langEdit-main.js"></script>
</body>
</html>
